<div class="contenedor-general">
  <div class="contenedor-importar">
    <button class="btn-importar" (click)="seleccionarArchivo()">
      <img src="assets/icons/icon-excel.png" alt="Excel" class="icono-excel" />
      Importar archivo Excel
    </button>

    <input type="file" #inputArchivo (change)="onFileChange($event)" accept=".xlsx, .xls" hidden />
  </div>

  <div class="tabla-archivos">
    <div class="cabecera-tabla">
      <h3 class="tabla-titulo">Archivos guardados en base de datos</h3>
      <div class="contador-registros">
        N° de registros: <span class="numero-pill">{{ archivosPaginados.length }}</span>
      </div>
    </div>

    <div class="tabla-scroll">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Fecha de carga</th>
            <th>Tipo</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="archivosGuardados.length === 0">
            <td colspan="5" class="fila-vacia">Aún no se han ingresado archivos</td>
          </tr>
          <tr *ngFor="let archivo of archivosPaginados" [class.fila-nueva]="archivo.id === idUltimoAgregado">
            <td>{{ archivo.id }}</td>
            <td>{{ archivo.nombreArchivo }}</td>
            <td>{{ archivo.fechaSubida | date: 'dd/MM/yyyy - hh:mm a' }}</td> 
            <td>{{ archivo.tipoArchivo }}</td>
            <td>
              <div class="acciones-botones">
                <button class="btn-eliminar" (click)="eliminarArchivo(archivo.id)">
                  <span nz-icon nzType="delete" nzTheme="outline"></span>
                  Eliminar
                </button>

                <button class="btn-ver-dashboard" (click)="verDashboard(archivo)">
                  <span nz-icon nzType="appstore" nzTheme="outline"></span>
                  Ver dashboard
                </button>
              </div>
            </td>

          </tr>
        </tbody>

      </table>
    </div>

    <div class="paginacion" *ngIf="totalPaginas > 1">
      <button (click)="cambiarPagina(paginaActual - 1)" [disabled]="paginaActual === 1">Anterior</button>
      <span>Página {{ paginaActual }} de {{ totalPaginas }}</span>
      <button (click)="cambiarPagina(paginaActual + 1)" [disabled]="paginaActual === totalPaginas">Siguiente</button>
    </div>
  </div>
</div>

<app-alerta-personalizada
  [visible]="mostrarAlerta"
  [tipo]="tipoAlerta"
  [mensaje]="mensajeAlerta"
  (aceptar)="cerrarNotificacion()"
  (cancelar)="cerrarNotificacion()">
</app-alerta-personalizada>


<!-- Alerta de confirmación -->
<app-alerta-personalizada
  [visible]="mostrarPregunta"
  [tipo]="'question'"
  [mensaje]="'¿Estás seguro de eliminar este archivo?'"
  (aceptar)="confirmarEliminacion()"
  (cancelar)="cancelarEliminacion()">
</app-alerta-personalizada>