<div class="cont-general">
    <img class="img-side img-left" src="assets/images/image-1.png" alt="Decoración izquierda" />
    
    <form class="login-form">
      <h2>Iniciar Sesión</h2>
  
      <div class="input-group">
        <label for="username">Usuario</label>
        <input type="text" id="username" placeholder="Ingresa tu usuario" />
      </div>
  
      <div class="input-group password-group">
        <label for="password">Contraseña</label>
        <div class="password-wrapper">
          <input type="password" id="password" placeholder="Ingresa tu contraseña" />
          <span class="eye-icon">👁</span>
        </div>
      </div>
  
      <div class="options">
        <label class="checkbox-container">
          <input type="checkbox" />
          <span class="checkmark"></span>
          Recordar contraseña
        </label>
      </div>
  
      <div class="btn-container">
        <button type="submit" class="btn-login">Iniciar sesión</button>
      </div>
    </form>
  
    <img class="img-side-2 img-right" src="assets/images/image-2.png" alt="Decoración derecha" />
  </div>
  